// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* باقي كود الـ Reset الذي كتبناه سابقاً */

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dde2db;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}


.mat-typography {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6; /* Accent */
}

/* 6. Utility for Layouts */
.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.legal-container {
  h2 {
    color: #1b1b1b;
    letter-spacing: -0.01em;
  }
  p, li {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
  }
}